body {
    background-color: #1a1a25;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    font-family: 'montserratsemibold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'montserratsemibold', sans-serif;
    font-size: clamp(1rem, 2.5rem, 3rem);
    color: white;
    letter-spacing: 0.1875rem;
    font-weight: 1000;
    line-height: 1.2;
}

canvas {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    backdrop-filter: blur(0.3125rem);
    border-radius: 1.25rem;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
    cursor: crosshair;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0.625rem 1.25rem 1.125rem -0.5rem rgba(0, 0, 0, 0.5);
}

canvas:hover {
    transform: scale(1.2);
}

button {
    font-family: 'montserratsemibold', sans-serif;
    margin-top: 1rem;
    width: 10rem;
    height: 4rem;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 0.9375rem;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(0.3125rem);
    color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.5);
}

button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 1.0);
    transform: scale(1.05);
}

predict {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 1.3rem, 1.5rem);
    font-weight: 600;
    color: #cccccc;
    letter-spacing: 0.125rem;
    line-height: 1.6;
    max-width: 600px;
}

span#predictionOutput {
    font-family: 'montserratsemibold', sans-serif;
    font-size: clamp(1rem, 1.3rem, 1.5rem);
    font-weight: 600;
    color: white;
}

canvas#drawCanvas {
    background-color: #ffffff;
    width: 20rem;
    height: auto;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 90vw;
    aspect-ratio: 1;
}

canvas#distributionChart {
    background-color: #ffffff;
    width: 50rem;
    max-width: 90vw;
    max-height: 45vw;
    aspect-ratio: 2;
    border-radius: 0.625rem;
    transform: scale(1);
}
