body {
    background-color: #1a1a25;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.containerMNIST {
    font-family: 'montserratsemibold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 1rem;
    min-width: fit-content;
    max-width: 70rem;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(0.3125rem);
    border-radius: 1.25rem;
    overflow: hidden;
    opacity: 1;
    box-shadow: 0.625rem 1.25rem 1.125rem -0.5rem rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, transform 0.3s, background-color 1s;
}

.headingMNIST {
    font-family: 'montserratsemibold', sans-serif;
    display: flex;
    font-size: clamp(1rem, 2.5rem, 3rem);
    font-weight: 1000;
    letter-spacing: 0.1875rem;
    background: radial-gradient(circle, rgba(255, 255, 255, 1.0), rgba(200, 200, 200, 1.0), rgba(255, 255, 255, 1.0)), rgba(200, 200, 200, 1.0);
    background-size: 600% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 30s infinite;
}

.canvasMNIST {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    backdrop-filter: blur(0.3125rem);
    border-radius: 1.25rem;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
    cursor: crosshair;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0.625rem 1.25rem 1.125rem -0.5rem rgba(0, 0, 0, 0.5);
}

.canvasMNIST:hover {
    transform: scale(1.2);
}

.buttonContainerMNIST {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.buttonMNIST {
    font-family: 'montserratsemibold', sans-serif;
    margin-top: 1rem;
    width: 10rem;
    height: 4rem;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 0.9375rem;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(0.3125rem);
    color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.5);
}

.buttonMNIST:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 1.0);
    transform: scale(1.05);
}

.predictMNIST {
    margin-top: 1.5rem;
    font-size: clamp(1.2rem, 1.5rem, 1.8rem);
    font-weight: 600;
    color: #cccccc;
    letter-spacing: 0.125rem;
    line-height: 1.6;
    max-width: 600px;
}

.spanMNIST#predictionOutput {
    font-family: 'montserratsemibold', sans-serif;
    font-size: clamp(1.5rem, 1.8rem, 2rem);
    font-weight: 600;
    color: white;
}

.canvasMNIST#drawCanvas {
    background-color: #ffffff;
    width: 20rem;
    height: auto;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 90vw;
    aspect-ratio: 1;
}

.canvasMNIST#distributionChart {
    background: rgba(50, 50, 50, 0.5);
    width: 50rem;
    max-width: 90vw;
    max-height: 45vw;
    aspect-ratio: 2;
    border-radius: 0.625rem;
    transform: scale(1);
}

.canvasMNIST#distributionChart:hover {
    background: rgba(100, 100, 100, 0.5);
}
